# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ===============================
# ENVIRONMENTS
# ===============================
venv/
.env
.env.*
*.env
.envrc

# Ignore pipenv & poetry
Pipfile.lock
poetry.lock

# ===============================
# DJANGO
# ===============================
media/
staticfiles/
db.sqlite3
*.log

# ===============================
# IDE / EDITOR
# ===============================
.vscode/
.idea/

# ===============================
# SYSTEM FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# MISC
# ===============================
*.bak
*.tmp
